# Python
.venv/
venv/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/
.ipynb_checkpoints/
*.db
*.sqlite

# NodeJS / React / Vite
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*
!.env.template
.vite/
.eslintcache

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
.DS_Store
Thumbs.db
